.button{
    cursor: pointer;
    color: black;
    font-weight: 400;
    border:2px #4285F4 solid;
    background-color: white;
    -webkit-box-shadow: 0px 18px 71px -29px rgba(0,0,0,1);
    -moz-box-shadow: 0px 18px 71px -29px rgba(0,0,0,1);
    box-shadow: 0px 18px 71px -29px rgba(0,0,0,1);
    width:300px;
    margin: 0 auto;

    &:focus{
        outline:none
    }

    &:hover{
        background-color: #4285F4;
        transition: 0.6s;

        a{
            color:white !important;
        }

        Link a{
            color:white !important;
        }
        
    }

    .downloadLink &:hover{
        color:white;
    }
}