.about-me{
    width:60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:0 5%;

    @media only screen and (max-width:800px){
        width: 400px;
        
    }

    .contactLink{
        text-decoration: underline;
        color:rgb(114, 47, 158) !important;
        font-weight: 700;
        &:visited{
            color:unset;
        }
    }    

    .job-title{
        font-style: italic;
    }

    .interests{
        text-align: left !important;
        
    }
}

