@import 'node_modules/@fortawesome/fontawesome-svg-core/styles';

.job{
    .expand-icon{
        // font-size: 10px !important;
        cursor: pointer;
    }

    .job-location, .job-title{
        font-weight: 700;
    }

    .job-duration{
        font-weight: 50;
        font-size: 0.9em;
    }
}