.tech{
    cursor: pointer;
    font-weight: 700;

    &:hover{
        // transition: 0.4s;
        border:1px solid #b2ccf7;
    }

    &.currentTech{
        border:3px solid #b2ccf7; 
        // transition: 2.5s;
    }

    &:active{
        transition: 0.7s;
    }
}