.homepagePreview{
    position: relative;


    .textContainer{
        text-align: center;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }

    .homepageImage{
        height: 100vh;
        width: 100vw;

        @media only screen and (max-width:800px){
            object-fit:cover;
        }   
    }

    .enterButton{
        background: rgb(1, 18, 44);
        color: rgb(255, 255, 255);
        font-weight: 900;
        font-size: 1.3em;
        outline: none;
        border: 1px solid black;
        
        &:hover{
            background: rgb(26, 95, 206);
            color:white;
            transition: 1.5s;
        }

    }
}