.portfolioItem{

    &:hover{
        transform: scale(1.05);
        transition: 1.1s;
        .card-img{
            opacity: 1 !important;
        }
        
    }
    .card{   
        // cursor: pointer;
        & :hover {
            .techListBullets,.seeMore{
                display: block !important;
                transition: 9.5s !important;
            }
            
        }
        .card-img{
            height: 230px !important;
            opacity: 0.6;
            @media only screen and (max-width:1400px) and (min-width:992px){
                object-fit:contain;
            }
        }

        .card-title{
            font-size: 2em;
            color:rgb(74, 123, 138);
            padding:10px 10px;
            font-weight: 900;
        }

        .seeMore{
            position: absolute;
            top:0%;
            right:0%;
            height: 30px;
            width: 60px;
            font-size: 0.8em;
            padding: 0px;
            text-align: center;
            // opacity: 0;
        }
        
    }  
}