.portfolioItem{
    .card{   
        cursor: pointer;
        & :hover {
            .techListBullets{
                display: block !important;
            }
            .card-img{
                opacity: 0.2 !important;
            }
        }
        .card-img{
            height: 230px !important;
            opacity: 1;
        }
        
    }  
}