.portfolioPreview{
    position: relative;
    #simple-modal-title{
        text-align: center;
    }

    .goToProjectBtn{
        & :hover{
            background: white !important;
        }
    }

    
}