.portfolioPreview{
    #simple-modal-title{
        text-align: center;
    }

    .goToProjectBtn{
        & :hover{
            background: white !important;
        }
    }

    
}

.testing{
    display:flex;
    flex-direction: column;
    justify-content: center;
}