.contactFormContainer{
    width: 60%;
    margin: 0 auto;
    cursor: none;
    input{
        border-radius: 100px;
        &:focus{
            outline: none;
        }
    }

    .contactForm{
        width: 100%;
        position: relative;
    }
    .message{
        height: 150px;
    }
    
    .formButton{
        border-radius: 50px;
        background: rgb(178,204,247);
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 700;
        padding: 2em;

        &.disabledButton{
            opacity: 0.8;
        }

        &:hover{
            transform: scale(1.3);
            transition: 1s ease-out;
        }

        &:focus{
            outline: none;
        }
    }
}