
.header{
    background: rgb(178,204,247);
    background: -moz-linear-gradient(90deg, rgba(178,204,247,1) 0%, rgba(178,204,247,1) 10%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(178,204,247,1) 0%, rgba(178,204,247,1) 10%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    background: linear-gradient(90deg, rgba(178,204,247,1) 0%, rgba(178,204,247,1) 10%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b2ccf7",endColorstr="#ffffff",GradientType=1);
    
    a{
        color: rgb(70, 61, 61);
        
        .fontAwesome{
            cursor: pointer;
            &:hover{
                color:rgb(255, 255, 255);
                transform: scale(1.2);
            }
        
        }
    }

    

    .nav-item{
        font-weight: 700;
        padding:0 50px !important;

        &:hover{
            // border-bottom: 2px solid #ffffff !important;
            border: 2px solid rgb(13, 238, 200);
            transform: scale(1.2);
            font-weight: 800;
            transition: 0.3s;
        }
    }

    .navbar-collapse{
        text-align: center;
    }

    .navbar-toggler:focus{
        outline: 0 !important;
    }

    .navbar-brand{
        font-size: 1em;
    }

    .active{
        // text-decoration: underline solid #ffffff;
        font-weight: 800;
        transform: scale(1.3);
    }

}