
.header{
    background-color: #b2ccf7 !important;
    
    .nav-item{
        font-weight: 700;
        padding:0 50px !important;

        &:hover{
            border-bottom: 2px solid #ffffff !important;
            transform: scale(1.2);
            opacity: 1;
            transition: 0.6s;
        }
    }

    .navbar-collapse{
        text-align: center;
    }

    .navbar-toggler:focus{
        outline: 0 !important;
    }

    .navbar-brand{
        font-size: 1em;
    }

    .active{
        text-decoration: underline solid #ffffff;
        transform: scale(1.3);
    }

}